@use "../../../colors" as c;
@use "../../../variables.scss" as *;

.provide-details {
	z-index: 3;
	background-color: c.$White;
	box-shadow: 0 1.1rem 1rem -0.8rem c.$Light-gray;
	padding: rem(40) rem(20);
	border-radius: rem(10);
	h1 {
		color: c.$Marine-blue;
		margin-bottom: $margin-sm;
		font-weight: $weight-lg;
		font-size: clamp(rem(20), rem(20) + 3vw, rem(35));
	}
	p {
		color: c.$Cool-gray;
		margin-bottom: $margin-lg;
		font-weight: $weight-md;
		font-size: clamp(rem(11), rem(12) + 1.4vw, rem(20));
		line-height: 1.5;
	}
	form {
		label {
			display: block;
			text-transform: capitalize;
			color: c.$Marine-blue;
			font-weight: $weight-md;
			margin-bottom: $margin-vs;
			font-size: clamp(rem(11), rem(12) + 1vw, rem(20));
			margin-top: $margin-lg;
			width: 100%;
		}
		input {
			width: calc(100% - $padding-vs);
			display: block;
			height: rem(43);
			border: rem(0.9) solid c.$Cool-gray;
			border-radius: rem(5);
			font-size: clamp(rem(7), rem(8) + 1.8vw, rem(20));
			color: c.$Marine-blue;
			font-weight: $weight-lg;
			padding-left: $padding-vs;
			&:focus {
				outline: rem(0.5) solid c.$Purplish-blue;
			}

			&::placeholder {
				padding-left: $padding-vs;
				color: c.$Cool-gray;
				font-size: clamp(rem(7), rem(8) + 1.8vw, rem(20));
				font-weight: $weight-md;
			}
		}
		.error {
			color: c.$Strawberry-red;
			font-size: rem(14);
			font-weight: $weight-sm;
			margin-top: $margin-sm;
		}
	}
}
