@use "../../../colors" as c;
@use "../../../variables.scss" as *;

#planForm {
	height: 100%;
	.provide-details {
		box-shadow: none;
		.desktop-error {
			display: none;
		}
	}
}

.plans {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	gap: rem(15);
	.plan {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: rem(13);
		padding: rem(5) rem(15);
		height: rem(80);
		border-radius: rem(8);
		border: rem(1) solid c.$Light-gray;
		&:hover {
			border-color: c.$Purplish-blue;
			background-color: c.$Magnolia;
			transition: 0.2s ease;
			cursor: pointer;
		}
		h2 {
			font-size: rem(17);
			color: c.$Marine-blue;
			margin-bottom: rem(2);
			font-weight: $weight-lg;
		}

		.plan-details {
			p {
				margin: 0;
				font-weight: $weight-sm;
				font-size: rem(16);
				font-weight: $weight-md;
				color: c.$Cool-gray;
			}
			span {
				color: c.$Marine-blue;
				font-weight: $weight-md;
				font-size: rem(15);
			}
		}
		&.active {
			border-color: c.$Purplish-blue;
			background-color: c.$Magnolia;
			transition: 0.2s ease;
			cursor: pointer;
			border: rem(1) solid c.$Purplish-blue;
		}
	}
	.error {
		color: c.$Strawberry-red;
		font-size: rem(15);
		text-align: center;
		font-weight: $weight-sm;
		margin: 0;
	}

	justify-content: flex-start;
	@include breakpoints-min(medium) {
		flex-direction: row;
		margin-top: rem(40);
		.plan {
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
			padding: rem(15);
			width: rem(150);
			height: rem(130);
			justify-content: space-between;
		}
	}
}

.choice {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: rem(20);
	background-color: c.$Magnolia;
	border-radius: rem(8);
	padding-block: rem(10);
	gap: rem(15);
	@include breakpoints-min(medium) {
		padding-block: rem(5);
	}
	.focus {
		color: c.$Marine-blue;
		font-weight: $weight-lg;
	}
	span {
		color: c.$Cool-gray;
		cursor: pointer;
		user-select: none;
	}
	span.MuiSwitch-track {
		background-color: c.$Marine-blue;
		opacity: 1;
		height: rem(22);
		border-radius: rem(20);
	}

	.css-julti5-MuiSwitch-root {
		height: unset;
		width: rem(67);
	}
	.css-jsexje-MuiSwitch-thumb {
		background-color: c.$White;
		height: rem(14);
		width: rem(14);
		position: relative;
		top: rem(7);
		left: rem(7);
	}
	.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
		+ .MuiSwitch-track {
		background-color: c.$Marine-blue !important;
		opacity: 1;
	}
}
@include breakpoints-min(medium) {
	.desktop-error {
		display: flex !important;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: c.$Strawberry-red !important;
		font-size: rem(15) !important;
	}
}
//
