@use "../../../colors" as c;
@use "../../../variables.scss" as *;

.pick-add-ons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: rem(20);
	.add-ons {
		gap: clamp(rem(5), rem(13) + 3vw, rem(15));
		display: flex;
		align-items: center;
		padding: rem(10) rem(20);
		height: rem(55);
		width: 85%;
		margin-inline: auto;
		border-radius: rem(8);
		border: rem(1) solid c.$Light-gray;
		&.active {
			border-color: c.$Purplish-blue;
			background-color: c.$Magnolia;
			transition: 0.2s ease;
			cursor: pointer;
		}
		.checkbox {
			margin: 0;
			color: c.$Cool-gray;
			width: rem(20);
			display: flex;
			align-items: center;
			justify-content: center;
			&.Mui-checked {
				color: c.$Purplish-blue;
			}
		}

		&:hover {
			border-color: c.$Purplish-blue;
			background-color: c.$Magnolia;
			transition: 0.2s ease;
			cursor: pointer;
		}
	}
	.title {
		h3 {
			font-size: clamp(rem(12), rem(12) + 4vw, rem(15));
			color: c.$Marine-blue;
			margin-bottom: rem(3);
			font-weight: $weight-lg;
		}
		p {
			margin: 0;
			font-weight: $weight-sm;
			font-size: clamp(rem(7), rem(8) + 2vw, rem(14));
			font-weight: $weight-md;
		}
	}
	span {
		margin-left: auto;
		color: c.$Purplish-blue;
		font-weight: $weight-md;
		font-size: rem(14);
		justify-self: flex-end;
		text-align: right;
		justify-items: flex-end;
		align-items: flex-end;
	}
}
