@use "../../../colors" as c;
@use "../../../variables.scss" as *;

.thank-you-details {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	h1 {
		margin-top: rem(10);
		color: c.$Marine-blue;
	}
	p {
		font-size: clamp(rem(11), rem(12) + 1.4vw, rem(20));
	}
}
