@use "sass:math";
@use "./colors" as c;
@use "./variables.scss" as *;

* {
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}

body {
	font-size: rem(16);
	font-family: "Ubuntu", sans-serif;
	background-color: c.$Magnolia;
	// min-height: 100vh;
	display: grid;
	align-items: center;
	position: relative;
}

.container {
	width: min(100% - rem(30), rem(500));
	margin-inline: auto;
}

.form-section {
	background-image: url("./images/bg-sidebar-mobile.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: rem(170);

	//m-steps
	.form-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(30);
		height: 100%;
		.aside-wrapper {
			margin-top: rem(30);
			.aside {
				.steps {
					display: flex;
					align-items: center;
					height: 80%;
					width: 100%;
					justify-content: center;
					color: c.$White;
					gap: rem(20);
					z-index: 3;
					.step {
						width: rem(15);
						height: rem(15);
						border: rem(2) solid c.$White;
						padding: rem(12);
						display: grid;
						place-content: center;
						border-radius: 100%;
						font-weight: $weight-md;
						font-size: clamp(rem(15), rem(17) + 5vw, rem(20));
						cursor: pointer;
					}
					.active {
						background-color: c.$Light-blue;
						border-color: transparent;
						color: c.$Marine-blue;
						font-weight: $weight-lg;
						box-shadow: 0.7rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
					}
				}
			}
		}

		.move-forward {
			width: 100%;
			background-color: c.$White;
			padding-block: rem(20);
			margin-top: rem(50);
			.container {
				display: flex;
				align-items: center;
				button {
					padding: rem(15) rem(25);
					border-radius: rem(7);
					background-color: c.$Marine-blue;
					font-size: clamp(rem(11), rem(11) + 1.3vw, rem(20));
					font-weight: $weight-md;
					color: c.$White;
					cursor: pointer;
					border: none;
					display: inline-block;
				}
				.forward {
					justify-self: flex-end;
					margin-left: auto;
					order: 2;
				}
				.back {
					justify-self: flex-start;
					margin-right: auto;
					order: 1;
					display: none;
					background-color: transparent;
					color: c.$Cool-gray;
					font-weight: $weight-lg;
				}
			}
		}
	}
}
